<footer class="page-footer font-small text-white bg-dark " style="margin-bottom:0px;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur adipisicing
          elit.
        </p>
      </div>


      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 align-items-center">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold align-center">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="d-flex align-items-center" style="margin-left: 50px;">
          <mat-icon>home</mat-icon> Belen, Rivas, Nicaragua
        </p>
        <p class="d-flex align-items-center" style="margin-left: 50px;">
          <mat-icon>email</mat-icon> carlitoswaybarrios@gmail.com
        </p>
        <p class="d-flex align-items-center" style="margin-left: 50px;">
          <mat-icon>phone</mat-icon> + 505 87249038
        </p>
        <p class="d-flex align-items-center" style="margin-left: 50px;">
          <br>
          <mat-icon>print</mat-icon> + 01 234 567 88

        </p>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <div class="row">
    <div class="col-8 offset-md-2 ">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1577.167335537745!2d-85.9194803274277!3d11.599806754264941!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sni!4v1639873720365!5m2!1ses!2sni"
        width="700px" height="300px" style="border:0; margin-left: 70px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    carlitosbarrioscompany
  </div>
  <!-- Copyright -->

</footer>