<div class="container container-spand-lg" style="margin-bottom: 20px;" >
    <div class="row" >
        <div class="col-sm-8"  *ngIf="product">
            <div class="row">
                <div class="col-8 offset-2" style="margin-top: 50px;">
                    <carousel style="color: black;">
                        <slide>
                            <img src="{{product?.imgfront}}" alt="first slide" class="imgComent" >
                        </slide>
                        <slide>
                            <img src="{{product?.imgleft}}" alt="second slide" class="imgComent">
                        </slide>
                        <slide>
                            <img src="{{product?.imgright}}" alt="third slide" class="imgComent">
                        </slide>
                        <slide>
                            <img src="{{product?.imgback}}" alt="third slide" class="imgComent">
                        </slide>
                    </carousel>        
                </div>                
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-12">
                    <div class="" align="left" style="margin-left:-20px" >
                        <div class="col-12 tab">
                            <tabset [justified]="true" >
                                <tab heading="Characteristics">
                                    <h1><b>{{product?.discount > 0? 'Before: ':'Price: '}}</b>{{product?.price | currency:'NIO '}}
                                    </h1>
                                    <h1 *ngIf="discount > 0"><b>Now: </b>{{productPrice | currency:'NIO '}}</h1>
                                    <h1><b>Brand: </b>{{product?.brand | uppercase}}</h1>
                                    <h1><b>Name: </b>{{product?.name | uppercase}}</h1>
                                    <h1 *ngIf="discount > 0"><b>Discount: </b>{{discount|percent}}</h1>
                                </tab>
                                <tab heading="Technical Details">
                                    <p>{{product.details}}</p>
                                </tab>
                            </tabset>
                        </div>
            
                    </div>
                </div>
            </div>          

        </div>
        

        <!-- comentaries -->

        <div class="col-sm-4 comentForm">
            <div class="row comentaries">
                <h4><b>Coment about this product, your opinion is very important!</b></h4>
                <div class="col-12">
                    <form action="" [formGroup]="form" (ngSubmit)="coment()" class="coment">
                        <textarea name="" id="coment" cols="30" rows="10" formControlName="coment"></textarea>
                        <br>
                        <div>
                            <label for="" style="margin-right: 10px;">Name</label>
                            <input formControlName="name" type="text">
                        </div>
                        <p>What's your genre?</p>
                        <select formControlName="genre" class="form-select" placeholder="Select Category">
                            <option disabled selected value="">Select your genre.</option>
                            <option>female</option>
                            <option>male</option>
                            <option>other</option>
                        </select>
                        <br>
                        <button class="btn btn btn-success" type="submit" [disabled]="!form.valid">Coment</button>
                    </form>
                    <br>
                    <table class="table table-striped  mt-3">

                        <th>
                            <h3>Comentaries about this product</h3>
                        </th>

                        <tbody>
                            <tr *ngFor="let coment of comentaries | paginate:{ itemsPerPage:3, currentPage:p}">
                                <td style="border-bottom: 1px solid; ">
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-1" style="margin-top:15px; ">
                                            <img *ngIf="coment?.genre === 'female'"
                                                src="./../../../../assets/images/descarga.jpg" alt="female"
                                                class="genre">
                                            <img *ngIf="coment?.genre === 'male'"
                                                src="./../../../../assets/images/programmer.png" alt="male"
                                                class="genre">
                                            <img *ngIf="coment?.genre === 'other'"
                                                src="./../../../../assets/images/istockphoto-1206193229-1024x1024.jpg"
                                                alt="undefined" class="genre">
                                        </div>
                                        <div class="col-1 comentName">
                                            <h5><b>{{coment.name}}</b></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" >
                                            <p class="comentText">{{coment.coment}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div *ngIf="admin" class="col-4">
                                            <button class="btn btn-sm" style="color:red" (click)="deleteComent(coment.id)"><mat-icon>delete</mat-icon></button>
                                        </div>
                                        <div class="col-4"></div>
                                        <div class="col-4" style="display:inline-table; color:rgb(2, 7, 12)">
                                            <p>{{coment.createdAt | date}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <pagination-controls style="justify-content: center; " (pageChange)="p = $event"
                                    previousLabel="" nextLabel=""></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- (pageChange)="pageChanged($event)"
(pageBoundsCorrection)="pageChanged($event)"
maxSize="9"
directionLinks="true"
autoHide="true"
responsive="true"
previousLabel="Previous"
nextLabel="Next"
screenReaderPaginationLabel="Pagination"
screenReaderPageLabel="page"
screenReaderCurrentLabel="You're on page" -->