.list.mat-nav-list.mat-list-base.list{
    height: 150px;
    width: 150px;
    margin-right: -800px;
    margin-left:15px

}
.list.mat-drawer-container.example-container{
    height: 200px;
    width: 200px;
}