.home{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    
   
}

.home-search{
    width: 100%;
    
}
// .card{
//     margin: 5px;
//     min-height: 200px;
//     min-width: 200px;
//     max-width: 200px;
//     height: 100%;
//     /*align-content: center;*/
//     align-items: flex-start;
//     background-color: rgb(236, 241, 241);
// }
button{
    width: 100%;
}
