<div class="container" style="height: 400px;">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Do you want to change your password now?, well, insert your email and password to be verified, after, if your email direction and password are correct, so push the green button</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="" [formGroup]="form" (ngSubmit)="getInfo()">                
                <label for="email">Email</label>
                <input type="text" class="form-control form-control-sm" formControlName="email" id="email" placeholder="Email" >                           
                
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" >
                
                <button *ngIf="!user" class="btn btn-large btn-info" style="color: white; margin-top: 10px;">Send Information</button>
            </form>
        </div>             
    </div>    
    <div class="row">
        <div class="col-3">
            <button *ngIf="user" class="btn btn-lg btn-success" style="color: white; margin-top: 10px;" [routerLink]="['/security/user-creation/',user?.id]">Change Password</button>
        </div>
    </div>    
</div>