<nav class="navbar sticky-top navbar-expand-lg navbar-dark px-2"
  style="position: relative; background: rgb(17, 139, 238); margin-right: 0px">
  <a class="navbar-brand" routerLink="/home">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      alt="logo" />
  </a>
  <h3 *ngIf="USER" style="color: white; margin-top: 7px">{{ USER.name }}</h3>
  <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngClass]="{ collapse: isCollapse }" style="justify-content: right; margin-right: 0px">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="USER" routerLinkActive="active" class="nav-item" style="color: white">
        <button class="nav-link btn btn-sm text-white" routerLink="product/product-list">
          Products
        </button>
      </li>
      <li *ngIf="USER" routerLinkActive="active" class="nav-item" style="color: white">
        <button class="nav-link btn btn-sm text-white" routerLink="security/user-list">
          Users
        </button>
      </li>

      <li *ngIf="!USER" routerLinkActive="active" class="nav-item" style="text-decoration: none">
        <button class="nav-link btn btn-sm text-white" routerLink="security/login">
          Login
        </button>
      </li>

      <li *ngIf="!USER" routerLinkActive="active" class="nav-item" style="color: white">
        <button class="nav-link btn btn-sm text-white" routerLink="security/user-creation">
          Register
        </button>
      </li>
      <li *ngIf="USER" routerLinkActive="active" class="nav-item" style="color: white">
        <div class="btn-group" style="margin-top: 2px" dropdown>
          <button id="button" dropdownToggle type="button" class="btn btn-sm text-white dropdown-toggle"
            aria-controls="dropdown-animated" style="margin-top: 3px">
            Settings <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" style="margin-left: -60px"
            aria-labelledby="button-animated">
            <li role="menuitem">
              <button class="dropdown-item" routerLink="/security/change-password">
                Change Password
              </button>
            </li>
            <li *ngIf="USER" role="menuitem">
              <button class="dropdown-item" (click)="logout()">
                <mat-icon>logout</mat-icon>Close User Session
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <button (click)="toggleSidenav()" class="nav-link btn btn-sm" style="
            background: rgb(17, 139, 238);
            color: white;
            text-decoration: dashed;
          ">
          Menu
        </button>
      </li>
    </ul>
  </div>
</nav>